{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
<div id="main" align="center" style="font-size: 180%; font-family: 'Open Sans';">
 <br/><h1>Too scared of Mondays?</h1>
</div>
<div id="second" align="center" style="font-size: 180%; font-family: 'Open Sans';">
 How many seconds are missing to that bully-day?!?
</div>
 <br/>
<div id="clockdiv" align="center" style="font-size: 130%; font-family: 'Open Sans';"> </div>
<br/>
<div id="last0" align="center" style="font-size: 130%; font-family: 'Open Sans';"></div>
<div id="last1" align="center" style="font-size: 130%; font-family: 'Open Sans';"></div>
<script src="static/js/monday.js"></script>

{% endblock %}
